@import url("https://fonts.cdnfonts.com/css/tt-commons");
@import url("https://db.onlinewebfonts.com/c/861884429c550935c31e2d0d63e608c6?family=Publico+Headline+Web+Exbold+Regular");
/* Header */
body {
  font-family: "TT Commons", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}

header {
  width: 90%;
  color: black;
  padding: 10px 50px 10px 50px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation_container {
  width: 100%;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}
.today_container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
}
.today {
  font-size: 14px;
}

.title {
  font-family: "Publico Headline Web Exbold Regular";
  justify-self: center;
  font-size: 48px;
}

.title span {
  transform: skew(-0.06turn, 18deg);
  display: inline-block;
  color: #ff5c00;
}
.title a {
  text-decoration: none;
  color: black;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: black;
}

.circle {
  position: relative;
  width: 10px;
  height: 10px;
}

.circle:before,
.circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ff0000;
  animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.circle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ff0000;
  animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.circle:after {
  width: 100%;
  height: 100%;
  animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.33);
  }
  80%,
  100% {
    background-color: white;
  }
}

@keyframes circle {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

#search_bar {
  border: 1px rgb(0, 0, 0, 0.2) solid;
  padding: 5px;
  border-radius: 12px;
}
#search_bar form {
  display: flex;
}
#search_bar input {
  border: none;
  outline: none;
}
#search_bar button {
  background-color: white;
  border: none;
  cursor: pointer;
}

/* Section List*/
.section_container {
  top: 0;
  z-index: 1000;
  position: sticky;
  background: white;
  border-bottom: rgb(0, 0, 0, 0.7) 1px solid;
  width: 100%;
  display: flex;
  justify-content: center;
}
.section_container ul {
  list-style-type: none;
  gap: 50px;
  display: flex;
  justify-content: space-between;
}
.section_container ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
/* Loader */
#loading-screen {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff5c00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  right: 0;
  background: #000;
  transform: translate(50%, 100%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Main */
main {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.back_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.back_top.animated svg {
  animation: oRotation 0.5s linear normal;
}
@keyframes oRotation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.main_content {
  display: flex;
  gap: 60px;
  padding-bottom: 20px;
}
.main_news {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
}
.main_news section h3 {
  padding: 60px 0 0 0;
  color: #ff5c00;
}
.news_container {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  gap: 50px;
  border-bottom: 5px #ddd double;
  padding: 0 0 90px 0;
}
.main_news section:last-child div {
  border: none;
}
.news_container a,
.news_container a:visited {
  color: #292219;
  position: relative;
  width: 45%;
  text-decoration: none;
}

.news_container a b {
  background-color: #ff5c00;
  padding: 4px 8px;
  color: white;
  border-radius: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.news_container img {
  width: 100%;
  object-fit: cover;
}
.news_container a h2 {
  font-family: "Publico Headline Web Exbold Regular";
}
.news_container a p:last-child {
  color: rgb(8, 8, 8, 0.5);
}

.finance_data {
  display: flex;
  padding: 116px 0 0 0;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} /* Style for the radio container */
.radio_container {
  text-align: center;
  padding: 10px 20px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(90% - 20px);
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for the radios section */
.radios {
  margin-bottom: 20px;
}

/* Style for the select dropdown */
#radio-select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  color: #333;
}
#radio-select:focus {
  border: 1px solid #ccc;
}
/* Style for the audio player */
#radio-player {
  max-width: 100%;
}

/* Style for the default select option */
#radio-select option:first-child {
  color: #888;
}

/* Style for the selected radio station */
#radio-select option:checked {
  font-weight: bold;
  background-color: #eee;
  color: #333;
}
.player {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.player img {
  display: none;
  width: 50px;
  border-radius: 20px;
}
.finance_data div:first-child {
  outline: none;
}
.finance_data div {
  outline: 2px solid #d5d1c9;
  outline-offset: 5px;
  border-radius: 2px;
}
.finance_data canvas {
  width: 100%;
  height: fit-content;
}
.finance_data table {
  width: 90%;
  border-spacing: 3px;
  border: 1px solid #d5d1c9;
  border-collapse: separate;
  border-spacing: 0;
}
.finance_data th,
.finance_data td {
  padding: 10px 20px;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}
.finance_data tr:last-child td {
  border: none;
}

.finance_data tbody tr:hover {
  background-color: #eeeeee;
}
.finance_data tbody td:first-child {
  font-weight: bold;
}
.finance_data tbody td:nth-child(3),
.finance_data tbody td:nth-child(4) {
  color: #ff5c00;
}
#phone-search {
  display: none;
}
/* footer */
footer {
  background-color: #1d1d1d;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}

footer div a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  /* Header*/
  header {
    transition: padding 0.5s ease-out;
    overflow: hidden;
    padding: 10px;
    align-items: center;
  }
  #phone-search {
    display: inline-block;
  }
  .navigation_container {
    flex-direction: column;
    align-items: center;
  }
  .navigation_container h1 {
    margin: 20px 0 5px 0;
  }
  .today_container {
    display: none;
  }
  .navigation_container ul {
    padding: 0;
  }
  #search_bar {
    border: none;
    max-height: 0;
    position: relative;
    transition: max-height 0.5s ease-in-out;
  }

  #search_bar form {
    width: 80vw;
    max-height: 0;
    margin-top: 30px;
    background: white;
    margin-left: -50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  #search_bar input {
    flex: 1;
  }
  #search_bar button {
    background-color: white;
    border: none;
    cursor: pointer;
  }
  .section_container {
    overflow-x: auto;
    white-space: nowrap;
  }

  .section_container ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 20px 0;
    gap: 10px;
  }

  .section_container ul li {
    flex: 0 0 auto;
    display: inline;
  }

  .section_container ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
  }

  .main_content {
    flex-direction: column;
    align-items: center;
  }
  .main_news {
    width: 90%;
  }
  .main_news section h3 {
    padding: 30px 0 0 0;
  }
  .news_container a {
    width: 100%;
  }
  .back_top {
    display: none;
  }
  .finance_data {
    width: 90%;
    padding: 0;
  }

  .finance_data table {
    width: 80vw !important;
    box-sizing: border-box;
  }
  .finance_data th,
  .finance_data td {
    padding: 5px 10px;
    box-sizing: border-box; /* Adjust the padding as needed */
  }
  footer div {
    padding: 0 50px;
  }
}
