@import url("https://fonts.cdnfonts.com/css/tt-commons");
@import url("https://db.onlinewebfonts.com/c/861884429c550935c31e2d0d63e608c6?family=Publico+Headline+Web+Exbold+Regular");
/* Main */
main {
  width: 90%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

#main-video {
  width: calc(60vh * 16 / 9);
  height: 60vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  resize: both;
  border: 1px solid #ccc;
  margin: 0 auto;
}

#streamer {
  width: 100%;
  background-image: url("../assets/onhold.jpg");
  background-position: center;
  height: 100%;
  border: none;
}

#video-gallery {
  display: flex;
  align-items: center;
}

#all-videos {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#all-videos::-webkit-scrollbar {
  display: none;
}

#scroll-left,
#scroll-right {
  cursor: pointer;
  border: none;
  font-size: 24px;
  padding: 10px;
  margin: 20px;
}

#scroll-left:disabled,
#scroll-right:disabled {
  cursor: default;
  opacity: 0.8;
}
#all-videos a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  color: black;
}
#all-videos img {
  width: 350px;
}
#all-videos a abbr {
  font-size: 24px;
}
#phone-search {
  display: none;
}
@media only screen and (max-width: 600px) {
  /*Main*/
  main {
    padding: 30px 0;
    align-items: center;
  }
  #main-video {
    width: 90vw;
    height: calc(90vw * 9 / 16);
    display: flex;
  }
  #main_content h1 {
    padding-top: 20px;
    font-size: 1.5em;
  }

  #all-videos {
    flex-direction: column;
    width: 100%;
  }
  #all-videos a {
    flex-direction: row;
    border-bottom: 1px #ddd solid;
    padding: 20px 0;
  }
  #video-gallery {
    padding: 20px;
  }
  #video-gallery button {
    display: none;
  }
  #all-videos img {
    width: 150px !important;
    height: auto;
  }
}
