@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 400;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Regular.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 400;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 250;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Thin.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 250;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Thin Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 275;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons ExtraLight.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 275;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons ExtraLight Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 300;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Light.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 300;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Light Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 500;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Medium.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 500;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Medium Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 600;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons DemiBold.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 600;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons DemiBold Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 700;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Bold.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 700;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Bold Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 800;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons ExtraBold.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 800;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons ExtraBold Italic.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: normal;
  font-weight: 900;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Black.woff")
      format("woff");
}
@font-face {
  font-family: tt commons;
  font-style: italic;
  font-weight: 900;
  src: local("TT Commons"),
    url("https://fonts.cdnfonts.com/s/51357/TT Commons Black Italic.woff")
      format("woff");
}
@import url("https://db.onlinewebfonts.com/c/861884429c550935c31e2d0d63e608c6?family=Publico+Headline+Web+Exbold+Regular");

/* Main */
main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.back_top.animated svg {
  animation: oRotation 0.5s linear normal;
}
@keyframes oRotation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
.pagination {
  display: flex;
  gap: 20px;
  padding: 30px;
  align-items: center;
}
.pagination a {
  text-decoration: none;
  color: grey;
  padding: 4px 8px;
  font-size: 20px;
}
a.active {
  color: black;
  border-bottom: 3px #ff5c00 solid;
}
a.prev_back {
  border: 1px grey solid;
  padding: 8px 10px;
  border-radius: 12px;
  margin: 0 20px;
}
a.disabled {
  pointer-events: none;
  color: #ddd;
  border: 1px #ddd solid;
  cursor: default;
}

.info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.sort {
  display: flex;
  gap: 20px;
  align-items: center;
}
.sort p {
  color: #555;
}

.sort button {
  padding: 12px 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 12px;
  border: 2px #1d1d1d solid;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sort button:hover {
  background-color: #f7f7f7;
}

.sort button.active {
  background-color: #1d1d1d;
  border-color: #ddd;
  color: #ddd;
  pointer-events: none;
  cursor: auto;
}
.search_results {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 60px;
}
.search_results a {
  display: flex;
  text-decoration: none;
  gap: 50px;
  padding: 20px;
  width: 100%;
  border-bottom: 2px #ddd solid;
}
.image_container {
  position: relative;
  width: 400px;
}
.image_container img {
  width: inherit;
}
.image_container b {
  background-color: #ff5c00;
  padding: 4px 8px;
  font-size: 12px;
  color: white;
  border-radius: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.search_results a h2 {
  color: #1d1d1d;
  font-family: "Publico Headline Web Exbold Regular";
}
.search_results a p {
  color: #1d1d1d;
}
.search_results a em {
  color: #ccc;
  font-size: 12px;
}
#phone-search {
  display: none;
}
@media only screen and (max-width: 600px) {
  .back_top {
    display: none;
  }
  #main-content {
    width: 90%;
    align-items: center;
  }
  .info {
    align-items: center;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    width: 100%;
  }
  .sort {
    width: 70%;
    justify-content: space-between;
  }
  .sort p {
    display: none;
  }

  .search_results {
    padding: 0;
    width: 90%;
  }
  .search_results a {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .image_container {
    width: 100%;
  }
  .pagination {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
  }
  .pagination a {
    font-size: 18px;
  }
}
